<!DOCTYPE html>
<html lang="en" xmlns:c="http://java.sun.com/xml/ns/javaee">
<head>
    <meta charset="UTF-8">
    <title>all Users</title>
</head>
<body>

<h2>All Users</h2>
<br>

<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>LastName</th>
        <th>Age</th>
        <th>Operations</th>

    </tr>

    <div th:each="user : ${users}">

        <c:url var="updateButton" value="/users/updateInfo">
            <c:param name="userId" value="${user.getId}"/>
        </c:url>

        <tr>
            <td><a  th:text="${user.getId()}">user</a></td>
            <td><a  th:text="${user.getName()}">user</a></td>
            <td><a  th:text="${user.getLastName()}">user</a></td>
            <td><a  th:text="${user.getAge()}">user</a></td>
            <td>
                <input type="button" value="Update"
                onclick="window.location.href = '${updateButton}'"/>
            </td>

        </tr>

    </div>

</table>
<br>

<input type="button" value="Add"
       onclick="window.location.href = 'users/new'"/>



</body>
</html>